.reserv {
    display: flex;
    margin-bottom: 20px;
}

.form {
    width: 50%;
    padding: 40px 30px;
    background-color: rgb(15, 23, 43);
    color: #fff;
}

form {
    height: 75%;
}

form .txt {
    display: flex;
    justify-content: space-between;
    height: 50px;
    gap: 5px;
}

form div {
    margin-bottom: 25px;
    height: 25%;
}

form .txt input {
    width: 49%;
    border: none;
    outline: none;
    padding: 7px;
    border: 3px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

input:focus {
    transition: .5s;
    border: 3px solid rgba(27, 6, 6, 0.7) !important;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

form div textarea {
    width: 100%;
    height: 100%;

}

form div button {
    width: 100% !important;
    height: 90% !important;
}