.contain {
    display: flex;
    background: linear-gradient(rgba(15, 23, 43, .9),
            rgba(15, 23, 43, .9)), url('../../public/images/bg-hero.jpg');
    height: 800px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.hero {
    width: 80%;
    padding-right: 10px;
}

.text {
    margin: 20px 0 20px 60px;
    width: 70%;
}

.text h1 {
    font-weight: bolder;
}

.imgCon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCon img {
    animation: rotation 50s infinite linear;
    -webkit-animation: rotation 50s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .contain {
        height: 800px;
    }

    .text {
        width: 60%;
    }

    .hero {
        width: 100%;
    }
}

@media (max-width: 1024px) {


    .text {
        width: 50%;
    }
}

@media (max-width: 912px) {
    .textt {
        width: 80%;
    }

    .text {
        width: 80%;
        margin: 40px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .contain {
        padding: 20px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgCon {
        width: 50%;

    }

}


@media (max-width: 768px) {
    .imgCon {
        width: 60%;
    }
}

@media (max-width: 540px) {
    .contain {
        height: 600px;
    }

    .text h1 {
        font-size: 20px;
    }

    .text p {
        font-size: 12px;
    }
}

@media (max-width: 440px) {}