.foodCon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.foodCon div {
    text-align: center;
}

.foodCon div h5 {
    font-family: 'Pacifico', cursive;
    color: var(--primary);
    font-weight: bolder;
    position: relative;
}

#line::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: 25%;
    margin-top: -1px;
    background: var(--primary);
}

#line::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: 25%;
    margin-top: -1px;
    background: var(--primary);
}

.foodCon div h1 {
    font-weight: bolder;
}

.meal {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(193, 196, 203, 0.7);
}

.meal a {
    display: flex;
    height: fit-content;
    border-bottom: 3px solid transparent;
}

.meal a .icon {
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.meal a div {
    padding: 20px;
    margin-right: 5px;
}

.meal a div>* {
    text-align: start;
    margin-bottom: -5px;
    color: #000;


}

.meal a div h6 {
    font-weight: bold;
}

@media (max-width: 550px) {
    .foodCon div h1 {
        font-size: 25px;
    }

    .meal a .icon {
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }

    .meal a div {
        padding: 10px;
        margin-right: 5px;
    }

    .meal a div>* {
        font-size: 15px;


    }

    #line::before {

        left: 15%;

    }

    #line::after {

        right: 15%;

    }
}

/* menu start */
.menuCon {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}

.food-con {
    display: flex;
    width: 600px;
    margin: 30px 10px;
    padding: 5px;
    height: 90px;
}

.food-con div img {
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
}

.con-name {
    width: 100%;
    margin: 0 7px;
    padding: 5px;
}

.name {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid rgba(193, 196, 203, 0.7);

}

.name h5 {
    font-weight: bolder;
}

.con-name p {
    color: rgba(0, 0, 0, .7);
}

.price {
    color: var(--primary);
}

.meal .active {
    border-bottom: 3px solid var(--primary);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

@media (max-width: 1280px) {
    .food-con {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .food-con {
        width: 450px;
    }
}

@media (max-width: 950px) {
    .food-con {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .name h5 {
        font-size: 20px;
    }

    .con-name p {
        font-size: 15px;
    }
}