.allCards {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    margin: 70px auto;
    gap: 2px;
}

.card {
    background-color: #fff;
    padding: 40px 40px;
    margin: 5px;
    border: none;
}

:root {
    --secPrimary: #FEA116;
}

.card:hover {
    --secPrimary: #fff;
    background-color: var(--primary);
    color: #fff;
    transition: all ease-in-out .5s !important;
    -webkit-transition: all ease-in-out .5s !important;
    -moz-transition: all ease-in-out .5s !important;
    -ms-transition: all ease-in-out .5s !important;
    -o-transition: all ease-in-out .5s !important;
}

.card>* {
    margin-bottom: 10px;
    font-weight: bold;
}

.card .icon {
    color: var(--secPrimary);
    width: 50px;
    height: 50px;
}

@media (max-width: 1280px) {
    .card {
        padding: 20px;
    }
}

@media (max-width: 1024px) {
    .card h3 {
        font-size: 25px;
    }

    .card p {
        font-size: 18px;
    }
}

@media (max-width: 912px) {
    .allCards {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 45%;

    }
}

@media (max-width: 450px) {
    .allCards {
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 70%;

    }
}